.contact-page {
    min-height: 100vh;
    background: #ffffff;
    font-family: 'Inter', sans-serif;
}

.contact-section {
    padding: 120px 20px 60px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-section h1 {
    font-size: 3rem;
    color: #1a1a1a;
    margin-bottom: 80px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.contact-item {
    /* background: #f9fafb; */
    padding: 10px;
    border-radius: 12px;
    min-width: 250px;
    /* border: 1px solid #e5e7eb; */

}

.contact-item h2 {
    font-size: 1.5rem;
    color: #059669;
    /* margin-bottom: 10px; */
}

.contact-item a {
    font-size: 1.25rem;
    color: #4b5563;
    text-decoration: none;
    font-weight: 500;
}

.contact-item a:hover {
    color: #047857;
}